{% extends 'layout1.html' %}

{% block meta %}
    <title>Отклики</title>
    <meta name="description" content="" />
{% endblock %}

{% block content %}
{% load static %}

 <section class="section-hero home-section overlay inner-page bg-image" style="background-image: url({% static 'app/images/hero_1.jpg' %});" id="home-section">

      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-12">
             <div class="mb-5 text-center">
              <h1 class="text-white font-weight-bold">Вакансии, на которые откликнулись</h1>
            </div>
          </div>
        </div>
      </div>

      <a href="#next" class="scroll-button smoothscroll">
        <span class=" icon-keyboard_arrow_down"></span>
      </a>
 </section>

<section class="site-section" id="next">
      <div class="container" id="block">

        <div class="row mb-5 justify-content-center">
          <div class="col-md-7 text-center">
            <h2 class="section-title mb-2">{{applies|length}} вакансий</h2>
          </div>
        </div>

        <ul class="job-listings mb-5">
          {% for apply in applies %}
          <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">
            <a href="{% url 'job-detail' apply.job.slug %}"></a>
            <div class="job-listing-logo">
              <img src="{{apply.job.company.companyLogo.url}}" alt="{{favorite.job.company.title}}" class="img-fluid">
            </div>

            <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
              <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
                <h2>{{apply.job.title}}</h2>
                <strong>{{apply.job.company.title}}</strong>
              </div>
              {% if apply.job.city %}
              <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
                <span class="icon-room"></span> {{apply.job.city}}
              </div>
              {% endif %}
              {% if apply.job.salary %}
              <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
                <span class="icon-money"></span> {{apply.job.salary}}
              </div>
              {% endif %}
              {% if apply.job.type %}
              <div class="job-listing-meta">
                <span class="badge badge-danger">{{apply.job.type}}</span>
              </div>
              {% endif %}
            </div>

          </li>
          {% endfor %}
        </ul>



      </div>
    </section>





{% endblock %}