{% extends 'layout1.html' %}

{% block meta %}
    <title>Изменить пароль</title>
    <meta name="description" content="" />
{% endblock %}

{% block content %}
{% load static %}
 <section class="section-hero overlay inner-page bg-image" style="background-image: url({% static 'app/images/hero_1.jpg' %});" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-white font-weight-bold">Забыли пароль?</h1>
            <div class="custom-breadcrumbs">
              <a href="{% url 'home_page' %}">Главная</a> <span class="mx-2 slash">/</span>
              <span class="text-white"><strong>Изменение пароля</strong></span>
            </div>
          </div>
        </div>
      </div>
    </section>
{% if messages %}
  {% for message in messages %}

  {% if message.tags == 'error' %}
  <div class="alert alert-danger">
    {{message}}
  </div>
  {% else %}
  <div class="alert alert-{{message.tags}}">
    {{message}}
  </div>
  {% endif %}

{% endfor %}
{% endif %}
<section class="site-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
            <h2 class="mb-4">Изменить пароль</h2>
            <form class="p-4 border rounded" method="POST">
                {% csrf_token %}
              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="text-black">Почта</label>
                  {{form.email}}
                </div>
                   {% if form.email.errors %}
                  {% for error in form.email.errors %}
                      <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                      </div>
                  {% endfor %}
                  {% endif %}
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Изменить пароль" class="btn px-4 btn-primary text-white">
                </div>
              </div>
                <a href="{% url 'login' %}" class="link-secondary">Войти</a>
            </form>

          </div>
        </div>
    </div>
</section>
{% endblock %}