{% extends 'layout1.html' %}

{% block content %}
 <section class="section-hero overlay inner-page bg-image" style="background-image: url('/static/app/images/hero_1.jpg');" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-white font-weight-bold">Вход</h1>
            <div class="custom-breadcrumbs">
              <a href="{% url 'home_page' %}">Главная</a> <span class="mx-2 slash">/</span>
              <span class="text-white"><strong>Вход</strong></span>
            </div>
          </div>
        </div>
      </div>
    </section>
<section class="site-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
            <h2 class="mb-4">Войти в TOPJOB</h2>
            <form class="p-4 border rounded" method="POST">
                {% csrf_token %}
              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="text-black">Логин</label>
                  {{form.username}}
                </div>
              </div>
              <div class="row form-group mb-4">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="text-black">Пароль</label>
                    {{form.password}}
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Войти" class="btn px-4 btn-primary text-white">
                </div>
              </div>
                <a href="{% url 'register' %}" class="link-secondary">Зарегистрироваться</a>
            </form>

          </div>
        </div>
    </div>
</section>
{% endblock %}