{% extends 'layout1.html' %}
{% block meta %}
    <title>Профиль</title>
    <meta name="description" content="" />
{% endblock %}
{% block content %}
{% load static %}
<section class="section-hero overlay inner-page bg-image" style="background-image: url({% static 'app/images/hero_1.jpg' %});" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-white font-weight-bold">Профиль {{user.username}}</h1>
            <div class="custom-breadcrumbs">
              <a href="{% url 'home_page' %}">Главная</a> <span class="mx-2 slash">/</span>
              <span class="text-white"><strong>Профиль</strong></span>
            </div>
          </div>
        </div>
      </div>
    </section>
{% if messages %}
  {% for message in messages %}

  {% if message.tags == 'error' %}
  <div class="alert alert-danger">
    {{message}}
  </div>
  {% else %}
  <div class="alert alert-{{message.tags}}">
    {{message}}
  </div>
  {% endif %}

{% endfor %}
{% endif %}


    <div class="m-5 row d-flex justify-content-center">

      <div class="col-md-6">

          <div class="card p-3 py-4">

              <div class="text-center">
                  {% if user.resume %}
                  <img src="{{user.resume.image.url}}" height="150" class="rounded-circle" alt="Фото {{user.first_name}} {{user.last_name}}">
                  {% endif %}
              </div>

              <div class="text-center mt-3">
                  <span class="bg-secondary p-1 px-4 rounded text-white">{{user.username}}</span>
                  <h5 class="mt-2 mb-0">{{user.first_name}} {{user.last_name}}</h5>
                  <span>{{user.email}}</span>
                  <div><span>{{user.profile.kind}}</span></div>
              </div>
              </div>

          </div>

    <div class="col-md-4">
            <div class="border-bottom">
                <h4 class="mt-2 title mb-0">Что бы вы хотели сделать?</h4>
            </div>
            <div class="p-4 mt-10 mb-10">
                {% if request.user.profile.kind == "Соискатель" %}
                {% if user.resume %}
                <p><a href="{% url 'resume-detail' user.resume.slug %}" class="btn btn-block btn-success" style="background-color: #DEB887;">Посмотреть резюме</a></p>
                {% else %}
                <p><a href="{% url 'create-resume' %}" class="btn btn-block btn-success" style="background-color: #DEB887;">Создать резюме</a></p>
                {% endif %}
                <p><a href="{% url 'job-list' %}" class="btn btn-block btn-success" style="background-color: #DEB887;">Искать работу</a></p>
                <p><a href="#" class="btn btn-block btn-success" style="background-color: #DEB887;">Читать посты</a></p>
                <p><a href="{% url 'edit'%}" class="btn btn-block btn-success" style="background-color: #DEB887;">Редактировать профиль</a></p>
                {% else %}
                <p><a href="" class="btn btn-block btn-success" style="background-color: #DEB887;">Создать вакансию</a></p>
                <p><a href="" class="btn btn-block btn-success" style="background-color: #DEB887;">Список вакансий</a></p>
                <p><a href="#" class="btn btn-block btn-success" style="background-color: #DEB887;">Отклики на вакансии</a></p>
                <p><a href="{% url 'edit' %}" class="btn btn-block btn-success" style="background-color: #DEB887;">Редактировать профиль</a></p>
                {% endif %}
            </div>
    </div>

    </div>

{% endblock %}