{% extends 'layout1.html' %}
{% block meta %}
    <title>Резюме {{object.user.username}}</title>
    <meta name="description" content="" />
{% endblock %}

{% block content %}
{% load static %}
{% load hitcount_tags %}
 <section class="section-hero overlay inner-page bg-image" style="background-image: url({% static 'app/images/hero_1.jpg' %});" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-white font-weight-bold">Резюме {{object.user.username}}</h1>
            <div class="custom-breadcrumbs">
                <a href="{% url 'home_page' %}">Главная</a> <span class="mx-2 slash">/</span>
                <a href="{% url 'profile' %}">Профиль</a> <span class="mx-2 slash">/</span>
                <span class="text-white"><strong>Резюме</strong></span>
            </div>
          </div>
        </div>
      </div>
 </section>
{% if messages %}
  {% for message in messages %}

  {% if message.tags == 'error' %}
  <div class="alert alert-danger">
    {{message}}
  </div>
  {% else %}
  <div class="alert alert-{{message.tags}}">
    {{message}}
  </div>
  {% endif %}

{% endfor %}
{% endif %}


<section class="section">
    <div class="container">
        <div class="row justify-content-center m-4">
           <div class="col-md-6">
                  <div class="card p-3 py-4">

                      <div class="text-center">
                          <img src="{{object.user.profile.image.url}}" height="150" class="rounded-circle" alt="{{object.user.first_name}} {{object.user.last_name}}">
                      </div>

                      <div class="text-center mt-3">
                          <span class="bg-secondary p-1 px-4 rounded text-white">{{object.user.username}}</span>
                          <h5 class="mt-2 mb-0">{{object.profession}}</h5>
                          <h5 class="mt-2 mb-0">{{object.user.first_name}} {{object.user.last_name}}</h5>
                          <span>{{object.user.email}}</span>
                          <h5></h5>
                         <div> <span class="ml-0 mr-2 mb-2 ml-5">Просмотров: {%get_hit_count for object%}<span class="icon-eye mr-2"></span></span></div>
                      </div>
                  </div>
              </div>
        </div>

        <div class="row">

        <div class="col-lg-6 col-md-6 pt-5">
            <div class="bg-light p-3 border rounded mb-4">
              <h3 class="mt-3 h5 pl-3 mb-3" style="color: #DEB887;">Основная информация</h3>
              <ul class="list-unstyled pl-3 mb-0">
                <li class="mb-2"><strong class="text-black">Дата рождения:</strong> {{object.date_birth}}</li>
                <li class="mb-2"><strong class="text-black">Пол:</strong> {{object.sex}}</li>
                <li class="mb-2"><strong class="text-black">Семейное положение:</strong> {{object.material_status}}</li>
                <li class="mb-2"><strong class="text-black">Телефон:</strong> {{object.phoneNumber}}</li>
                  {% if object.last_updated %}
                <li class="mb-2"><strong class="text-black">Последнее обновление:</strong> {{object.last_updated}}</li>
                  {% endif %}
              </ul>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 pt-5">
            <div class="bg-light p-3 border rounded mb-4">
              <h3 class="mt-3 h5 pl-3 mb-3 " style="color: #DEB887;">Контактная информация</h3>
              <ul class="list-unstyled pl-3 mb-0">
                <li class="mb-2"><strong class="text-black">Адрес проживания:</strong> {{object.addressLine1}}</li>
                <li class="mb-2"><strong class="text-black">Адрес прописки:</strong> {{object.addressLine2}}</li>
                <li class="mb-2"><strong class="text-black">Республики, область или край:</strong> {{object.suburb}}</li>
                <li class="mb-2"><strong class="text-black">Город:</strong> {{object.city}}</li>
                {% if object.cv %}
                  <li class="mb-2"><strong class="text-black">Развернутая профессиональная биография:</strong> <a href="{{object.cv.url}}" download>Скачать</a></li>
              {% endif %}
              </ul>
            </div>

        </div>
            {% if object.skills %}
            <div class="col-lg-8">
            <div class="mb-5">
              <h3 class="h5 d-flex align-items-center mb-4 " style="color: #DEB887;"><span class="icon-align-left mr-3" ></span>Основные навыки</h3>
              <p>{{object.skills|linebreaks}}</p>
            </div>
            </div>
            {% endif %}

            {% if object.soft_skills %}
            <div class="col-lg-8">
            <div class="mb-5">
              <h3 class="h5 d-flex align-items-center mb-4 " style="color: #DEB887;"><span class="icon-stars mr-3" ></span>Личностные качества</h3>
              <p>{{object.soft_skills|linebreaks}}</p>
            </div>
            </div>
            {% endif %}

        </div>

        <div class="mb-5">
            <p class="col-md-3">
                <a href="{% url 'edit-resume' object.slug %}" class="btn btn-block btn-success" style="background-color: #DEB887;">Редактировать резюме
                </a>
            </p>

              <h3 class="h5 d-flex align-items-center mb-4" style="color: #DEB887;"><span class="icon-book mr-3"></span>Образование</h3>
<!--                 Button trigger modal-->
                <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#addEducation">
                  Добавить образование
                </button>


<!--                 Modal-->
                <div class="modal fade" id="addEducation" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                        <form method="POST">
                        {% csrf_token %}
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Добавить образование</h1>
                        <button type="button" class="btn-close icon-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group position-relative">
                                    <label>Название учебного заведения <span class="text-danger">*</span> </label>
                                    {{edu_form.institution}}
                                </div>
                                {% if edu_form.institution.errors %}
                                  {% for error in edu_form.institution.errors %}
                                      <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                      </div>
                                  {% endfor %}
                                  {% endif %}
                            </div>

                             <div class="col-lg-12">
                                <div class="form-group position-relative">
                                    <label>Факультет<span class="text-danger">*</span> </label>
                                    {{edu_form.faculty }}
                                </div>
                                {% if edu_form.faculty.errors %}
                                  {% for error in edu_form.faculty.errors %}
                                      <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                      </div>
                                  {% endfor %}
                                  {% endif %}
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group position-relative">
                                    <label>Специализация <span class="text-danger">*</span> </label>
                                    {{edu_form.specialization}}
                                </div>
                                {% if edu_form.specialization.errors %}
                                  {% for error in edu_form.specialization.errors %}
                                      <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                      </div>
                                  {% endfor %}
                                  {% endif %}
                            </div>

                             <div class="col-lg-12">
                                <div class="form-group position-relative">
                                    <label>Уровень образования <span class="text-danger">*</span> </label>
                                    {{edu_form.level}}
                                </div>
                                {% if edu_form.level.errors %}
                                  {% for error in edu_form.level.errors %}
                                      <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                      </div>
                                  {% endfor %}
                                  {% endif %}
                            </div>

                             <div class="col-lg-12">
                                <div class="form-group position-relative">
                                    <label>Дата начала <span class="text-danger">*</span> </label>
                                    {{edu_form.start_date}}
                                </div>
                                {% if edu_form.start_date.errors %}
                                  {% for error in edu_form.start_date.errors %}
                                      <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                      </div>
                                  {% endfor %}
                                  {% endif %}
                            </div>

                             <div class="col-lg-12">
                                <div class="form-group position-relative">
                                    <label>Дата окончания обучения <span class="text-danger">*</span> </label>
                                    {{edu_form.graduated }}
                                </div>
                                {% if edu_form.graduated.errors %}
                                  {% for error in edu_form.graduated.errors %}
                                      <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                      </div>
                                  {% endfor %}
                                  {% endif %}
                            </div>

                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary btn-color" name="btnEducation">Сохранить</button>
                      </div>
                        </form>
                    </div>
                  </div>
                </div>


                {% if educations %}
                {% for education in educations %}
                <div class="col-lg-12 mt-4 pt-2">
                    <div class="component-wrapper rounded shadow">
                        <div class="p-4 border-bottom bg-light">
                            <h4 class="title">{{education.institution}}</h4>
                        </div>

                        <div class="p-4">
                            <div class="row">
                                <div class="col">
                                    <p><b>Уровень:</b> {{education.level}}</p>
                                </div>
                            </div>

                            <div class="row">
                                 <div class="col">
                                    <p><b>Факультет:</b> {{education.faculty}}</p>
                                </div>
                                <div class="col">
                                    <p><b>Специализация:</b> {{education.specialization}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p><b>Дата начала:</b> {{education.start_date}}</p>
                                </div>

                                <div class="col">
                                    <p><b>Дата окончания:</b> {{education.graduated}}</p>
                                </div>
                            </div>


                            <div class="row">
                              <div class="col">
                                <a
                                  href="{% url 'delete-ed' object.user.resume.slug education.pk%}"
                                  class="btn-dark text-decoration-none p-2"
                                  >Удалить</a>
                                  <a
                                  href="{% url 'edit-ed' object.user.resume.slug education.pk%}"
                                  class="btn-dark text-decoration-none p-2"
                                  >Редактировать</a>
                              </div>
                            </div>

                        </div>

                    </div>
                </div>
                {% endfor %}

                {% endif %}


        </div>




        <div class="mb-5">
              <h3 class="h5 d-flex align-items-center mb-4" style="color: #DEB887;"><span class="icon-rocket mr-3"></span>Опыт работы</h3>
                 <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#addExperience">
                  Добавить опыт работы
                </button>


<!--                 Modal-->
                <div class="modal fade" id="addExperience" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                        <form method="POST">
                        {% csrf_token %}
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="addExperiencebutton">Добавить опыт работы</h1>
                        <button type="button" name='view' class="btn-close icon-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group position-relative">
                                    <label>Название компании <span class="text-danger">*</span> </label>
                                    {{exp_form.company}}
                                </div>
                                {% if exp_form.company.errors %}
                                  {% for error in exp_form.company.errors %}
                                      <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                      </div>
                                  {% endfor %}
                                  {% endif %}
                            </div>

                             <div class="col-lg-12">
                                <div class="form-group position-relative">
                                    <label>Должность <span class="text-danger">*</span> </label>
                                    {{exp_form.position }}
                                </div>
                                {% if exp_form.position.errors %}
                                  {% for error in exp_form.position.errors %}
                                      <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                      </div>
                                  {% endfor %}
                                  {% endif %}
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group position-relative">
                                    <label>Ваш опыт <span class="text-danger">*</span> </label>
                                    {{exp_form.experience}}
                                </div>
                                {% if exp_form.experience.errors %}
                                  {% for error in exp_form.experience.errors %}
                                      <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                      </div>
                                  {% endfor %}
                                  {% endif %}
                            </div>

                             <div class="col-lg-12">
                                <div class="form-group position-relative">
                                    <label>Ваши навыки <span class="text-danger">*</span> </label>
                                    {{exp_form.skills}}
                                </div>
                                {% if exp_form.skills.errors %}
                                  {% for error in exp_form.skills.errors %}
                                      <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                      </div>
                                  {% endfor %}
                                  {% endif %}
                            </div>

                             <div class="col-lg-12">
                                <div class="form-group position-relative">
                                    <label>Дата начала <span class="text-danger">*</span> </label>
                                    {{exp_form.start_date}}
                                </div>
                                {% if exp_form.start_date.errors %}
                                  {% for error in exp_form.start_date.errors %}
                                      <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                      </div>
                                  {% endfor %}
                                  {% endif %}
                            </div>

                             <div class="col-lg-12">
                                <div class="form-group position-relative">
                                    <label>Дата окончания <span class="text-danger">*</span> </label>
                                    {{exp_form.end_date }}
                                </div>
                                {% if exp_form.end_date.errors %}
                                  {% for error in exp_form.end_date.errors %}
                                      <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                      </div>
                                  {% endfor %}
                                  {% endif %}
                            </div>

                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary btn-color" name="btnExperience">Сохранить</button>
                      </div>
                        </form>
                    </div>
                  </div>
                </div>


                {% if experiences %}
                {% for exp in experiences %}
                <div class="col-lg-12 mt-4 pt-2">
                    <div class="component-wrapper rounded shadow">

                        <div class="p-4 border-bottom bg-light">
                            <h4 class="title">{{exp.company}}</h4>
                        </div>

                        <div class="p-4">
                            <div class="row">
                                <div class="col">
                                    <p><b>Должность:</b> {{exp.position}}</p>
                                </div>
                            </div>

                            <div class="row">
                                 <div class="col">
                                    <p><b>Опыт:</b> {{exp.experience}}</p>
                                </div>
                                <div class="col">
                                    <p><b>Навыки:</b> {{exp.skills}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p><b>Дата начала:</b> {{exp.start_date}}</p>
                                </div>

                                <div class="col">
                                    <p><b>Дата окончания:</b> {{exp.end_date}}</p>
                                </div>
                            </div>

                            <div class="row">
                              <div class="col">
                                <a
                                  href="{% url 'delete-exp' slug=object.user.resume.slug pk=exp.pk%}"
                                  class="btn-dark text-decoration-none p-2"
                                  >Удалить</a
                                >
                                  <a
                                  href="{% url 'edit-exp' slug=object.user.resume.slug pk=exp.pk%}"
                                  class="btn-dark text-decoration-none p-2"
                                  >Редактировать</a>
                              </div>
                            </div>

                        </div>

                    </div>
                </div>
                {% endfor %}

                {% endif %}
        </div>

        {% if request.user == object.user %}
        {% if user_hits %}
            <h6 style="color: #DEB887;">Компании, которые просматривали резюме</h6>
        {% endif %}
        {% for user_hit in user_hits %}
        {% if user_hit.profile.kind == "Работодатель" %}
            <div class="col-md-3">

                  <div class="card p-3 py-4 mt-3 mb-5">

                      <div class="text-center">
                          <img src="{{user_hit.company.companyLogo.url}}" height="50" class="rounded-circle" alt="Фото {{user_hit.company.title}}">
                      </div>

                      <div class="text-center mt-3">
                          <p class="mt-2 mb-0" style="font-size: 15px">{{user_hit.company.title}}</p>
                          <div><a href="{% url 'company-jobs' user_hit.company.slug %}" class="text-black">Вакансии компании</a></div>

                      </div>
                      </div>

                 </div>
        {% endif %}

        {% endfor %}
        {% endif %}



        <div class="m-3"><a href="{% url 'resume-delete' object.slug %}" class="btn btn-dark">Удалить резюме</a></div>

    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
{% endblock %}