input {
    outline: none;
    border: none;
}


.task-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-top: 1px solid #dfe4ea;
    overflow: hidden;
    background: radial-gradient(circle, rgba(238,174,174,1) 0%, rgba(222,184,135,1) 100%);
}

.task-title {
    display: flex;
    padding: 20px;
}

.task-title a {
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
}

.task-complete-icon {
    height: 20px;
    width: 20px;
    background-color: rgb(105, 192, 105);
    border-radius: 50%;
}

.task-incomplete-icon {
    height: 20px;
    width: 20px;
    background-color: rgb(218, 218, 218);
    border-radius: 50%;
}

.delete-link {
    text-decoration: none;
    font-weight: 900;
    color: #cf4949;
    font-size: 22px;
    line-height: 0;
    padding: 20px 0px;
}

/*Handle Classes*/

.handle {
    display: inline-block;
    padding: 20px 16px;
    cursor: grab;
    user-select: none;
}

.handle:after,
.handle:before {
    display: block;
    content: "";
}

.handle:active,
.handle:active:before,
.handle:active:after {
    cursor: grabbing;
}

.dropArea {
    background-color: #f1f2f6;
    color: black;
    border: #ced6e0 1px solid;
}

.selectedTask {
    opacity: 0.6;
}


#add-link {
    color: rgb(105, 192, 105);
    text-decoration: none;
    font-size: 25px;
    text-shadow: 1px 1px #81413b;
}



input[type=text],
textarea {
    border: 1px solid #757575;
    border-radius: 5px;
    padding: 10px;
    width: 90%;
}

label {
    padding-top: 10px !important;
    display: block;
}

::placeholder {
    font-weight: 300;
    opacity: 0.5;
}


.card-body {
    padding: 20px;
}
.strike {
    text-decoration: line-through;
    color: #4b5156;
}