{% extends 'layout1.html' %}
{% block meta %}
    <title>Блог</title>
    <meta name="description" content="" />
{% endblock %}

{% block content %}
{% load static %}
{% load is_already_applied %}
 <section class="section-hero overlay inner-page bg-image" style="background-image: url({% static 'app/images/hero_1.jpg' %});" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-white font-weight-bold">Компания {{company.title}}</h1>
            <div class="custom-breadcrumbs">
                <a href="{% url 'home_page' %}">Главная</a> <span class="mx-2 slash">/</span>
                <a href="{% url 'company-blogs' %}">Компании</a> <span class="mx-2 slash">/</span>
                <span class="text-white"><strong>Блог {{company.title}}</strong></span>
            </div>
          </div>
        </div>
      </div>
 </section>
{% if messages %}
  {% for message in messages %}

  {% if message.tags == 'error' %}
  <div class="alert alert-danger">
    {{message}}
  </div>
  {% else %}
  <div class="alert alert-{{message.tags}}">
    {{message}}
  </div>
  {% endif %}

{% endfor %}
{% endif %}

<section class="site-section">
      <div class="container">

          <div class="row align-items-center mb-5">
          <div class="col-lg-12 mb-4 mb-lg-0">
            <div class="d-flex align-items-center">
              <div class="border p-2 d-inline-block mr-3 rounded">
                <img src="{{company.companyLogo.url}}" alt="{{company.title}}" style="width:200px;">
              </div>
              <div class="mb-4">
              <h3 class="mb-4 h4 border-bottom">{{company.title}}</h3>
              <p class="mb-0">{{company.description}}</p>
              <div><a href="{% url 'company-jobs' company.slug %}" class="text-black">Вакансии компании</a></div>
                  {% if company.url %}
               <div><a href="{{company.url}}" target="_blank" class="text-black">Перейти на сайт компании</a></div>
                 {% endif %}
                  {% if company.addressLine %}
               <p class="mb-0">Адрес:{{company.addressLine}}</p>
                 {% endif %}
                  {% if company.inn %}
               <p class="mb-0">ИНН:{{company.inn}}</p>
                 {% endif %}
                  {% if company.ogrn %}
               <p class="mb-0">ОГРН:{{company.ogrn}}</p>
                 {% endif %}
                  {% if company.ogrnip %}
               <p class="mb-0">ОГРНИП:{{company.ogrnip}}</p>
                 {% endif %}

                  <div>Вы можете проверить компанию введя её ИНН или ОГРН(ОГРИП) на <a href="https://egrul.nalog.ru/index.html" target="_blank" >egrul.nalog.ru</a></div>
              </div>
            </div>
          </div>
        </div>
          <hr style="color:#ae8664;">
          {% if request.user.is_authenticated %}
          {% if request.user == company.user %}
                  {% if request.user.profile.kind == "Работодатель" %}
          <div class="col-lg-12 m-5 "><a href="{% url 'create-post' %}"
                                                          class="btn btn-success btn-color">
                    <i class="fa fa-plus"></i>Создать новый пост</a></div>
          {% endif %}
          {% endif %}
          {% endif %}
          <div class="col-lg-12">
        <div class="row mb-5">
            {% for post in posts %}
          <div class="col-md-6 col-lg-4 mb-5">
            <a href="{% url 'company-blog-detail' company.slug post.slug %}"><img src="{{post.image.url}}" alt="{{post.title}}" class="img-fluid rounded mb-4"></a>
            <h3><a href="{% url 'company-blog-detail' company.slug post.slug %}" class="text-black">{{post.title}}</a></h3>
            <div>{{post.date}}</span>
<!--             <a href="#">2 Comments</a>-->
            </div>
              {% if request.user.is_authenticated %}
              {% if request.user == company.user %}
                  {% if request.user.profile.kind == "Работодатель" %}
              <div class="mt-2 text-center">
                  <a href="{% url 'post-delete' company.slug post.slug %}" class="btn-danger p-1 rounded">Удалить пост</a>
                <a href="{% url 'post-edit' company.slug post.slug %}" class="btn-light p-1 rounded">Редактировать</a>
              </div>
                {% endif %}
              {% endif %}
          {% endif %}
          </div>
          {% endfor %}
        </div>


<!--        <div class="row pagination-wrap mt-5">-->

<!--          <div class="col-md-12 text-center ">-->
<!--            <div class="custom-pagination ml-auto">-->
<!--              <a href="#" class="prev">Prev</a>-->
<!--              <div class="d-inline-block">-->
<!--              <a href="#" class="active">1</a>-->
<!--              <a href="#">2</a>-->
<!--              <a href="#">3</a>-->
<!--              <a href="#">4</a>-->
<!--              </div>-->
<!--              <a href="#" class="next">Next</a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

      </div>
    </section>



{% endblock %}