{% extends 'layout1.html' %}
{% block meta %}
    <title>Блог</title>
    <meta name="description" content="" />
{% endblock %}

{% block content %}
{% load static %}
{% load is_already_applied %}
 <section class="section-hero overlay inner-page bg-image" style="background-image: url({% static 'app/images/hero_1.jpg' %});" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
              <div class="custom-breadcrumbs">
                <a href="{% url 'home_page' %}">Главная</a> <span class="mx-2 slash">/</span>
                <a href="{% url 'company-blog-list' company.slug %}">Все посты</a>
            </div>
            <div class="custom-breadcrumbs mb-0">
              <span class="slash">Опубликовано</span> {{company.title}}</a>
              <span class="mx-2 slash">&bullet;</span>
              <span class="text-white"><strong>{{post.date}}</strong></span>
            </div>

            <h1 class="text-white">{{post.title}}</h1>
          </div>
        </div>
      </div>
 </section>
{% if messages %}
  {% for message in messages %}

  {% if message.tags == 'error' %}
  <div class="alert alert-danger">
    {{message}}
  </div>
  {% else %}
  <div class="alert alert-{{message.tags}}">
    {{message}}
  </div>
  {% endif %}

{% endfor %}
{% endif %}

<section class="site-section">
      <div class="container">
          <div class="row">
          <div class="col-lg-8 blog-content">
            <h3 class="mb-4">{{post.title}}</h3>
            <p><img src="{{post.image.url}}" alt="Image" class="img-fluid rounded"></p>
              <p>{{post.description|linebreaks}}</p>
            </div>
          <div class="col-lg-4 sidebar pl-lg-5">
            <div class="sidebar-box">
              <img src="{{company.companyLogo.url}}" alt="Image placeholder" class="img-fluid mb-4 w-50 rounded-circle">
              <h3>{{company.title}}</h3>
              <p>{{company.description}}</p>
            </div>

          </div>


              {% if request.user.is_authenticated %}
                  {% if request.user.profile.kind == "Соискатель" %}
                <div class="comment-form-wrap">
                    <h3 class="mb-5">Задайте вопрос</h3>
                    <form method="POST" class="" action="{% url 'add-comment' company.slug post.slug %}" id="comment">
                        {% csrf_token %}
                      <div class="form-group">
                        <label>{{form.text_comments}}</label>
                      </div>
                      <div class="form-group">
                        <input type="submit" value="Оставить комментарий" class="btn btn-primary btn-md btn-color">
                      </div>
                    </form>
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
				  <script>
					  $(document).ready(function () {
						  // отслеживаем событие отправки формы
						  $('#comment').submit(function () {
							  // создаем AJAX-вызов
							  $.ajax({
								  data: $(this).serialize(), // получаем данные формы
								  type: $(this).attr('method'), // GET или POST
								  url: "{% url 'add-comment' company.slug post.slug %}",
								  // если успешно, то
								  success: function (response) {
									  $ ('#comment')[0].reset ();
									  $("#block").load("{% url 'add-comment' company.slug post.slug %} #block");
								  },
								  // если ошибка, то
								  error: function (response) {
									  // предупредим об ошибке
									  alert("Ошибка ввода данных");
									  console.log(response.responseJSON.errors)
								  }
							  });
							  return false;
						  });
					  })
				  </script>
            {% endif %}
          {% endif %}
              <div class="pt-5">
              <h3 class="mb-5">{{comments.count}} комментариев</h3>
              <ul class="comment-list" id="block">
                {% for comment in comments %}
                <li class="comment">
                  <div class="vcard bio">
                    <img src="{{comment.user.profile.image.url}}" alt="Image placeholder">
                  </div>
                  <div class="comment-body">
                    <h3>{{comment.user.first_name}} {{comment.user.last_name}}</h3>
                    <div class="meta">{{comment.date}}</div>
                    <p>{{comment.text_comments}}</p>
                    <p><a href="#" class="reply">Ответить</a></p>
                  </div>
                </li>

                {% endfor %}

              </ul>

          </div>
        </div>
      </div>
</section>



{% endblock %}