{% extends 'layout1.html' %}
{% block meta %}
    <title>Создать пост</title>
    <meta name="description" content="" />
{% endblock %}

{% block content %}
{% load static %}

 <section class="section-hero overlay inner-page bg-image" style="background-image: url({% static 'app/images/hero_1.jpg' %});" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-white font-weight-bold">Создать пост</h1>
          </div>
        </div>
      </div>
 </section>

<section>
    <div class="container">
<div class="card-body">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col">
                <div class="from-group app-label">
                    <label class="text-muted">Заголовок:</label>
                    {{form.title}}
                </div>
                {% if form.title.errors %}
                  {% for error in form.title.errors %}
                      <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                      </div>
                  {% endfor %}
                {% endif %}
            </div>
        <div class="col">
                <div class="from-group app-label">
                    <label class="text-muted">Описание:</label>
                    <div class="">{{form.description}}</div>
                </div>
                {% if form.description.errors %}
                  {% for error in form.description.errors %}
                      <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                      </div>
                  {% endfor %}
                {% endif %}
            </div>
        <div class="col">
                <div class="from-group app-label">
                    <label class="text-muted">Изображение:</label>
                    {{form.image}}
                </div>
                {% if form.image.errors %}
                  {% for error in form.image.errors %}
                      <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                      </div>
                  {% endfor %}
                {% endif %}
            </div>
        <button type="submit" class="submitBtn btn btn-primary btn-color m-4">Cохранить</button>
    </form>
</div>
    </div>
</section>

{% endblock %}