{% extends 'layout1.html' %}
{% load static %}

{% block meta %}
<title>Диалог</title>
<meta name="description" content="" />

{% endblock %}

{% block content %}
<section
  class="section-hero overlay inner-page bg-image"
  style="background-image: url({%static 'app/images/hero_1.jpg' %})"
  id="home-section"
>
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1 class="text-white font-weight-bold">Профиль {{user.username}}</h1>
        <div class="custom-breadcrumbs">
          <a href="{% url 'home_page' %}">Главная</a>
          <span class="mx-2 slash">/</span>
          <span class="text-white"><strong>Профиль</strong></span>
        </div>
      </div>
    </div>
  </div>
</section>



<section style="background-color: #deb887">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-7 col-xl-8">
        <ul class="list-unstyled">
          <li class="d-flex justify-content-between mb-4">
            <img
              src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp"
              alt="avatar"
              class="rounded-circle d-flex align-self-start me-3 shadow-1-strong"
              width="60"
            />
            <div class="card">
              <div class="card-header d-flex justify-content-between p-3">
                <p class="fw-bold mb-0">Brad Pitt</p>
                <p class="text-muted small mb-0">
                  <i class="far fa-clock"></i> 12 mins ago
                </p>
              </div>
              <div class="card-body">
                <p class="mb-0">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
              </div>
            </div>
          </li>
          <li class="d-flex justify-content-between mb-4">
            <div class="card w-100">
              <div class="card-header d-flex justify-content-between p-3">
                <p class="fw-bold mb-0">Lara Croft</p>
                <p class="text-muted small mb-0">
                  <i class="far fa-clock"></i> 13 mins ago
                </p>
              </div>
              <div class="card-body">
                <p class="mb-0">
                  Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                  accusantium doloremque laudantium.
                </p>
              </div>
            </div>
            <img
              src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-5.webp"
              alt="avatar"
              class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong"
              width="60"
            />
          </li>
          <li class="d-flex justify-content-between mb-4">
            <img
              src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp"
              alt="avatar"
              class="rounded-circle d-flex align-self-start me-3 shadow-1-strong"
              width="60"
            />
            <div class="card">
              <div class="card-header d-flex justify-content-between p-3">
                <p class="fw-bold mb-0">Brad Pitt</p>
                <p class="text-muted small mb-0">
                  <i class="far fa-clock"></i> 10 mins ago
                </p>
              </div>
              <div class="card-body">
                <p class="mb-0">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
              </div>
            </div>
          </li>
          <li class="bg-white mb-3">
            <form action="">
            <div class="form-outline">
              <textarea
                class="form-control"
                id="textAreaExample2"
                rows="4"
              ></textarea>
              <label class="form-label" for="textAreaExample2">Message</label>
            </div>
          </li>
          <button type="submit" class="btn btn-info btn-rounded float-end">
            Отправить
          </button>
          </form>
        </ul>
      </div>
    </div>
  </div>
</section>
{{ object.slug|json_script:"json-roomname" }}
<script>
  const roomName = JSON.parse(document.getElementById('json-roomname').textContent)
  const chatSocket = new WebSocket(
          'ws://' +window.location.host + '/ws/' + roomName +'/'
  );

  chatSocket.onmessage = function (e){
    console.log('onmessage');
  }

  chatSocket.onclose = function (e){
    console.log('onclose');
  }



</script>

{% endblock %}
