{% extends 'layout1.html' %}
{% load static %}

{% block meta %}
<title>Сообщения</title>
<meta name="description" content="" />
<link rel="stylesheet" href="{% static 'app/css/messages.css' %}" />
{% endblock %}

{% block content %}
<section
  class="section-hero overlay inner-page bg-image"
  style="background-image: url({%static 'app/images/hero_1.jpg' %})"
  id="home-section"
>
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1 class="text-white font-weight-bold">Профиль {{user.username}}</h1>
        <div class="custom-breadcrumbs">
          <a href="{% url 'home_page' %}">Главная</a>
          <span class="mx-2 slash">/</span>
          <span class="text-white"><strong>Профиль</strong></span>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="site-section">
      <div class="container">
        <h2 class="section-title  mb-5 text-center">Вакансии</h2>

        <ul class="job-listings mb-5">
          {% for item in chatrooms %}
          <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">
            <a href="{% url 'job-detail' item.slug%}"></a>
            <div class="job-listing-logo">
              <img src="{{item.company.companyLogo.url}}" alt="Free Website Template by Free-Template.co" class="img-fluid">
            </div>

            <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
              <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
                <h2>{{ item.title }}</h2>
                <strong>{{ item.company.title }}</strong>
              </div>
              {% if item.city %}
              <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
                <span class="icon-room"></span> {{item.city}}
              </div>
              {% endif %}
              <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
                <span class="icon-money"></span> {{item.salary}}
              </div>
              {% if item.type %}
              <div class="job-listing-meta">
                <span class="badge badge-danger">{{item.type}} </span>
              </div>
              {% endif %}
            </div>

          </li>
          {% endfor %}
        </ul>

        <a href="{% url 'job-list' %}" class="link-secondary">Все вакансии...</a>

      </div>
    </section>


{% endblock %}