{% extends 'layout1.html' %}
{% load static %}

{% block meta %}
    <title>Запланировать собеседование</title>
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <link rel="stylesheet" href="{% static 'app/css/interview.css' %}">
{% endblock %}

{% block content %}
<section class="section-hero overlay inner-page bg-image" style="background-image: url({% static 'app/images/hero_1.jpg' %});" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-white font-weight-bold">Запланировать собеседование</h1>
            <div class="custom-breadcrumbs">
              <a href="{% url 'home_page' %}">Главная</a> <span class="mx-2 slash">/</span>
              <span class="text-white"><strong>Список задач</strong></span>
            </div>
          </div>
        </div>

      </div>
    </section>
<section class="m-4" id="next-section">
      <div class="container">
          <h2 style="margin-bottom:20px">У вас <i>{{count}}</i> запланированных собеседования</h2>

        <form method="GET" class="search-jobs-form mb-4" id="search">
            <div class="row">
            <input type="text" name="search-area" class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0" value="{{search_input}}">
             <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                <input type="submit" value="Найти" class="btn btn-primary btn-lg btn-block text-white btn-search btn-color">
             </div>
            </div>
        </form>
          {% if interviews|length > 0 %}
            <a id="add-link" href="{% url 'interview-create' %}">Добавить&#x2b;</a>
         {% endif %}
          <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>



<div id="tasklist" class="task-items-wrapper mt-4 mb-4">
    {% for interview in interviews %}
    <div class="task-wrapper" data-position="{{task.pk}}">
        <div class="task-title">
            {% if interview.complete %}
            <a href="{% url 'interview-complete' interview.pk %}" type="submit" class="complete-item task-complete-icon"></a>
            <a href="{% url 'interview-edit' interview.id %}"><span class="strike">{{interview}} {% if interview.task_date %}| {{interview.task_date}}{% endif %}</span></a>
            {% else %}
            <a href="{% url 'interview-complete' interview.pk %}" class="complete-item task-incomplete-icon"></a>
            <a href="{% url 'interview-edit' interview.id %}">{{interview}} {% if interview.task_date %}| {{interview.task_date}}{% endif %}</a>

            {% endif %}
        </div>
        <div class="task-controls">
            <div class="m-3"><a class="delete-link" href="{% url 'interview-delete' interview.id %}">&#215;</a></div>
        </div>
    </div>

    {% empty %}
    <div style="text-align: center; padding-bottom: 10px; line-height: 1em;">
        <h3>Нет такого запланированного собеседования.</h3>
        <h3>Создать<a style="text-decoration: none; color: rgb(105, 192, 105);" href="{% url 'interview-create' %}">собеседование</a> ! </h3>
    </div>
    {% endfor %}
</div>

      </div>
</section>

{% endblock %}