{% extends 'layout1.html' %}

{% block meta %}
    <title>Topjob {{category.title}}</title>
    <meta name="description" content="{{category.seoDescription}}" />
    <meta name="keywords" content="{{category.seoKeywords}}">
{% endblock %}

{% block content %}
{% load static %}
<section class="section-hero overlay inner-page bg-image" style="background-image: url({% static 'app/images/hero_1.jpg' %});" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-white font-weight-bold">Подай заявку Topjob {{category.title}}</h1>
            <div class="custom-breadcrumbs">
              <a href="{% url 'home_page' %}">Главная</a> <span class="mx-2 slash">/</span>
              <a href="/jobs">Вакансии</a> <span class="mx-2 slash">/</span>
              <span class="text-white"><strong>{{category.title}}</strong></span>
            </div>
          </div>
        </div>
        <form method="POST" class="search-jobs-form" name='search' id="search">
              {% csrf_token %}
              <div class="d-flex flex-wrap justify-content-center mb-5">
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                  {{form.title}}
                </div>

                {% if form.title.errors %}
                {% for error in form.title.errors %}
                      <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                      </div>
                  {% endfor %}
                {% endif %}

                <div class="m-1">
                  {{form.type}}
                </div>
                {% if form.type.errors %}
                {% for error in form.type.errors %}
                      <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                      </div>
                  {% endfor %}
                {% endif %}



                  <div class="m-1">
                  {{form.experience}}
                </div>
                {% if form.experience.errors %}
                {% for error in form.experience.errors %}
                      <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                      </div>
                  {% endfor %}
                {% endif %}


                  <div class="m-1">
                  {{form.salary}}
                </div>
                {% if form.salary.errors %}
                {% for error in form.salary.errors %}
                      <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                      </div>
                  {% endfor %}
                {% endif %}


                  <div class="m-1">
                  {{form.category}}
                </div>
                {% if form.category.errors %}
                {% for error in form.category.errors %}
                      <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                      </div>
                  {% endfor %}
                {% endif %}

                  <div class="m-1">
                  {{form.region}}
                </div>
                {% if form.region.errors %}
                {% for error in form.region.errors %}
                      <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                      </div>
                  {% endfor %}
                {% endif %}
                <div class="col-sm-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
                  <button type="submit" class="btn btn-primary btn-lg btn-block text-white btn-search btn-color"><span class="icon-search icon mr-2"></span>Найти</button>
                </div>
              </div>
            </form>
				  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
				  <script>
					  $(document).ready(function () {
						  // отслеживаем событие отправки формы
						  $('#search').submit(function () {
							  // создаем AJAX-вызов
							  $.ajax({
								  data: $(this).serialize(), // получаем данные формы
								  type: $(this).attr('method'), // GET или POST
								  url: "{% url 'category-detail' category.slug %}",
								  // если успешно, то
								  success: function (response) {
                                      let data = response.data;
                                       $("#count").text(`Вакансий: ${data.length}`);
                                       $(".job-listings").empty();
                                      data.forEach((job) => {
                                          $(".job-listings").append(`<li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">
                                            <a href="${job.slug}"></a>
                                            <div class="job-listing-logo">
                                              <img src="${job.logo}" alt="{{job.company.title}}" class="img-fluid">
                                            </div>

                                            <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
                                              <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
                                                <h2>${job.title}</h2>
                                                <strong>${job.company}</strong>
                                              </div>
                                              <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
                                                <span class="icon-room"></span> ${job.city}
                                              </div>
                                              <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
                                                <span class="icon-money"></span> ${job.min_salary? `${job.min_salary} - ${job.max_salary}`: job.max_salary}
                                              </div>
                                              <div class="job-listing-meta">
                                                <span class="badge badge-danger">${job.type}</span>
                                              </div>
                                            </div>

                                          </li>`);
                                      })

								  },
								  // если ошибка, то
								  error: function (response) {
									  // предупредим об ошибке
									  alert("Ошибка ввода данных");
									  console.log(response.responseJSON.errors)
								  }
							  });
							  return false;
						  });
					  })
				  </script>
      </div>
    </section>


<section class="site-section" id="next">
      <div class="container">


        <div class="row mb-5">
          <div class="col-md-7">
            <h2 class="section-title mb-2" id="count">Вакансий: {{jobs|length}}</h2>
          </div>
        </div>

        <ul class="job-listings mb-5">
          {% for job in jobs %}
          <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">
            <a href="{% url 'job-detail' job.slug %}"></a>
            <div class="job-listing-logo">
              <img src="{{job.company.companyLogo.url}}" alt="{{job.company.title}}" class="img-fluid">
            </div>

            <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
              <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
                <h2>{{job.title}}</h2>
                <strong>{{job.company.title}}</strong>
              </div>
              {% if job.city %}
              <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
                <span class="icon-room"></span> {{job.city}}
              </div>
              {% endif %}
              <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
                {% if job.min_salary %}<span class="icon-money"></span>{{job.min_salary}} - {% if job.max_salary %}{{job.max_salary}} {% endif %}
                 {% else %} {% if job.max_salary %} <span class="icon-money"></span>{{job.max_salary}}{% endif %}
                  {% endif %}
              </div>
              {% if job.type %}
              <div class="job-listing-meta">
                <span class="badge badge-danger">{{job.type}}</span>
              </div>
              {% endif %}
            </div>

          </li>
          {% endfor %}
        </ul>

      </div>
    </section>

    {% if not request.user.is_authenticated %}
    <section class="py-5 bg-image overlay-primary fixed overlay" style="background-image: url('images/hero_1.jpg');">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-8">
            <h2 class="text-white">Ищешь работу?</h2>
            <p class="mb-0 text-white lead">Регистрируйся и смотри актуальные предложения</p>
          </div>
          <div class="col-md-3 ml-auto">
            <a href="{% url 'register' %}" class="btn btn-warning btn-block btn-lg">Зарегистрироваться</a>
          </div>
        </div>
      </div>
    </section>
    {% endif %}

{% endblock %}