{% extends 'layout1.html' %}

{% block meta %}
    <title>Topjob</title>
    <meta name="description" content="" />
{% endblock %}

{% block content %}
{% load static %}
    <!-- HOME -->
    <section class="home-section section-hero overlay bg-image" style="background-image: url({% static 'app/images/hero_1.jpg' %});" id="home-section">

      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-12">
            <div class="mb-5 text-center">
              <h1 class="text-white font-weight-bold">Начни искать работу своей мечты</h1>
              <p>Работа, которую мы делаем охотно, исцеляет боли.</p>
            </div>


            <form method="POST" class="search-jobs-form" name='search' id="search">
              {% csrf_token %}
              <div class="d-flex flex-wrap justify-content-center mb-5">
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                  {{form.title}}
                </div>

                {% if form.title.errors %}
                {% for error in form.title.errors %}
                      <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                      </div>
                  {% endfor %}
                {% endif %}

                <div class="m-1">
                  {{form.type}}
                </div>
                {% if form.type.errors %}
                {% for error in form.type.errors %}
                      <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                      </div>
                  {% endfor %}
                {% endif %}



                  <div class="m-1">
                  {{form.experience}}
                </div>
                {% if form.experience.errors %}
                {% for error in form.experience.errors %}
                      <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                      </div>
                  {% endfor %}
                {% endif %}


                  <div class="m-1">
                  {{form.salary}}
                </div>
                {% if form.salary.errors %}
                {% for error in form.salary.errors %}
                      <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                      </div>
                  {% endfor %}
                {% endif %}


                  <div class="m-1">
                  {{form.category}}
                </div>
                {% if form.category.errors %}
                {% for error in form.category.errors %}
                      <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                      </div>
                  {% endfor %}
                {% endif %}

                  <div class="m-1">
                  {{form.region}}
                </div>
                {% if form.region.errors %}
                {% for error in form.region.errors %}
                      <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                      </div>
                  {% endfor %}
                {% endif %}
                <div class="col-sm-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
                  <button type="submit" class="btn btn-primary btn-lg btn-block text-white btn-search btn-color"><span class="icon-search icon mr-2"></span>Найти</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <a href="#next" class="scroll-button smoothscroll">
        <span class=" icon-keyboard_arrow_down"></span>
      </a>

    </section>

    <section class="py-5 bg-image overlay-primary fixed overlay" id="next" style="background-image: url('/static/app/images/hero_1.jpg');">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-md-7 text-center">
            <h2 class="section-title mb-2 text-white">Наши показатели</h2>
          </div>
        </div>

        <div class="row pb-0 block__19738 section-counter justify-content-center">

          <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
            <div class="d-flex align-items-center justify-content-center mb-2">
              <strong class="number" data-number="{{users}}">0</strong>
            </div>
            <span class="caption">Пользователей</span>
          </div>

          <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
            <div class="d-flex align-items-center justify-content-center mb-2">
              <strong class="number" data-number="{{jobs_count}}">0</strong>
            </div>
            <span class="caption">Вакансий</span>
          </div>


          <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
            <div class="d-flex align-items-center justify-content-center mb-2">
              <strong class="number" data-number="{{company}}">0</strong>
            </div>
            <span class="caption">Компаний</span>
          </div>


        </div>
      </div>
    </section>

  <section class="site-section services-section bg-light block__62849" id="next-section">
      <div class="container">
        <h2 class="section-title mb-5 text-center">Категории</h2>
        <div class="row">
          <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">

            <a href="{% url 'category-detail' technology.slug %}" class="block__16443 text-center d-block h-100">
              <img src="{{ technology.categoryImage.url }}" alt="{{technology.title}}" style="width: 100px">
              <h3>{{technology.title}}</h3>
              <p>{{technology.description}}</p>
            </a>

          </div>


          <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">

            <a href="{% url 'category-detail' service.slug %}" class="block__16443 text-center d-block h-100">
              <img src="{{ service.categoryImage.url }}" alt="{{service.title}}" style="width: 100px">
              <h3>{{service.title}}</h3>
              <p>{{service.description}}</p>
            </a>

          </div>

          <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">

            <a href="{% url 'category-detail' economy.slug %}" class="block__16443 text-center d-block h-100">
              <img src="{{ economy.categoryImage.url }}" alt="{{economy.title}}" style="width: 100px">
              <h3>{{economy.title}}</h3>
              <p>{{economy.description}}</p>
            </a>

          </div>

          <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">

            <a href="{% url 'category-detail' management.slug %}" class="block__16443 text-center d-block h-100">
              <img src="{{ management.categoryImage.url }}" alt="{{management.title}}" style="width: 100px">
              <h3>{{management.title}}</h3>
              <p>{{management.description}}</p>
            </a>

          </div>

          <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">

            <a href="{% url 'category-detail' jurisprudence.slug %}" class="block__16443 text-center d-block h-100">
              <img src="{{ jurisprudence.categoryImage.url }}" alt="{{jurisprudence.title}}" style="width: 100px">
              <h3>{{jurisprudence.title}}</h3>
              <p>{{jurisprudence.description}}</p>
            </a>

          </div>

          <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">

            <a href="{% url 'category-detail' advertising.slug %}" class="block__16443 text-center d-block h-100">
              <img src="{{ advertising.categoryImage.url }}" alt="{{advertising.title}}" style="width: 100px">
              <h3>{{advertising.title}}</h3>
              <p>{{advertising.description}}</p>
            </a>

          </div>

        </div>

        <a href="{% url 'category-list' %}" class="link-secondary">Другие категории...</a>
      </div>
    </section>

    <section class="site-section">
      <div class="container">
        <h2 class="section-title  mb-5 text-center">Вакансии</h2>

        <ul class="job-listings mb-5">
          {% for item in jobs %}
          <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">
            <a href="{% url 'job-detail' item.slug%}"></a>
            <div class="job-listing-logo">
              <img src="{{item.company.companyLogo.url}}" alt="Free Website Template by Free-Template.co" class="img-fluid">
            </div>

            <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
              <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
                <h2>{{ item.title }}</h2>
                <strong>{{ item.company.title }}</strong>
              </div>
              {% if item.city %}
              <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
                <span class="icon-room"></span> {{item.city}}
              </div>
              {% endif %}
              <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
                <span class="icon-money"></span> {{item.salary}}
              </div>
              {% if item.type %}
              <div class="job-listing-meta">
                <span class="badge badge-danger">{{item.type}} </span>
              </div>
              {% endif %}
            </div>

          </li>
          {% endfor %}
        </ul>

        <a href="{% url 'job-list' %}" class="link-secondary">Все вакансии...</a>

      </div>
    </section>


  {% if not request.user.is_authenticated %}
    <section class="py-5 bg-image overlay-primary fixed overlay" style="background-image: url('images/hero_1.jpg');">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-8">
            <h2 class="text-white">Ищешь работу?</h2>
            <p class="mb-0 text-white lead">Регистрируйся и смотри актуальные предложения</p>
          </div>
          <div class="col-md-3 ml-auto">
            <a href="{% url 'register' %}" class="btn btn-warning btn-block btn-lg">Зарегистрироваться</a>
          </div>
        </div>
      </div>
    </section>
    {% endif %}

      {% endblock %}