{% extends 'layout1.html' %}

{% block meta %}
    <title>{{job.title}}</title>
    <meta name="description" content="{{job.seoDescription}}" />
    <meta name="keywords" content="{{job.seoKeywords}}">
{% endblock %}

{% block content %}
{% load static %}
{% load is_already_applied %}

 <section class="section-hero overlay inner-page bg-image" style="background-image: url({% static 'app/images/hero_1.jpg' %});" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-white font-weight-bold">{{job.title}}</h1>
            <div class="custom-breadcrumbs">
                <a href="{% url 'home_page' %}">Главная</a> <span class="mx-2 slash">/</span>
                <a href="{% url 'job-list' %}">Вакансии</a> <span class="mx-2 slash">/</span>
                <span class="text-white"><strong>{{job.title}}</strong></span>
            </div>
          </div>
        </div>
      </div>
 </section>
{% if messages %}
  {% for message in messages %}

  {% if message.tags == 'error' %}
  <div class="alert alert-danger">
    {{message}}
  </div>
  {% else %}
  <div class="alert alert-{{message.tags}}">
    {{message}}
  </div>
  {% endif %}

{% endfor %}
{% endif %}

 <section class="site-section">
      <div class="container">

        <div class="row align-items-center mb-5">
          <div class="col-lg-8 mb-4 mb-lg-0">
            <div class="d-flex align-items-center">
              <div class="border p-2 d-inline-block mr-3 rounded">
                <img src="{{ job.company.companyLogo.url }}" alt="{{job.company.title}}" style="width:150px;">
              </div>
              <div>
                <h2>{{job.title}}</h2>
                <h5>{{job.category.title}}</h5>
                <div class="">
                  <span class="ml-0 mr-2 mb-2"><span class="icon-person mr-2"></span>Откликов: {{applicants}}</span>
                  <span class="ml-0 mr-2 mb-2 ml-5"><span class="icon-heart mr-2"></span>Сохранили: {{favorite}}</span>
                </div>
                <div>
                  <span class="ml-0 mr-2 mb-2"><span class="icon-briefcase mr-2"></span>{{job.company.title}}</span>
                  {% if job.city %}
                  <span class="m-2"><span class="icon-room mr-2"></span>{{job.city}}</span>
                  {% endif %}
                  {% if job.type %}
                  <span class="m-2"><span class="icon-clock-o mr-2"></span><span   style="color: #DEB887;">{{job.type}}</span></span>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>

          {% if request.user.profile.kind == "Соискатель" %}
          <div class="col-lg-4">
            <div class="row">
              {% is_already_liked job request.user as is_liked %}
              {% if not is_liked %}
              <div class="col-6">
                <a href="{% url 'add_to_favorites' job.id %}" class="btn btn-block btn-light btn-md"><span class="icon-heart-o mr-2 text-danger"></span>Сохранить</a>
              </div>
              {% else %}
              <div class="col-6">
                <a href="{% url 'delete_in_favorites' job.id %}" class="btn btn-block btn-light btn-md"><span class="icon-heart mr-2 text-danger"></span>Сохранено</a>
              </div>
              {% endif %}
              {% is_already_applied job request.user as is_applied %}
              {% if not is_applied %}
              <div class="col-6">
                <button type="button" class="btn btn-block btn-primary btn-md btn-color" data-toggle="modal" data-target="#addApplicantModal">Откликнуться</button>
              </div>
              {% else %}
              <div class="col-6">
                <a href="#" class="btn btn-block btn-outline-secondary btn-md btn-color">Уже откликнулись</a>
              </div>
              {% endif %}
            </div>
          </div>
          {% endif %}
        </div>
        <div class="row">
          <div class="col-lg-8">
            {% if job.description %}
            <div class="mb-5">
              <h3 class="h5 d-flex align-items-center mb-4"  style="color: #DEB887;"><span class="icon-align-left mr-3"></span>Описании работы</h3>
              <p>{{job.description|linebreaks}}</p>
            </div>
            {% endif %}

            {% if job.duties %}
            <div class="mb-5">
              <h3 class="h5 d-flex align-items-center mb-4"  style="color: #DEB887;"><span class="icon-rocket mr-3"></span>Обязанности</h3>
              <p>{{job.duties|linebreaks}}</p>
            </div>
            {% endif %}

            {% if job.requirements %}
            <div class="mb-5">
              <h3 class="h5 d-flex align-items-center mb-4"  style="color: #DEB887;"><span class="icon-object-group mr-3"></span>Требования к соискателю</h3>
              <p>{{job.requirements|linebreaks}}</p>
            </div>
            {% endif %}

            {% if job.note %}
            <div class="mb-5">
              <h3 class="h5 d-flex align-items-center mb-4"  style="color: #DEB887;"><span class="icon-turned_in mr-3"></span>Примечание</h3>
              <p>{{job.note|linebreaks}}</p>
            </div>
            {% endif %}

            {% if request.user.profile.kind == "Соискатель" %}
            <div class="row mb-5">
              {% is_already_liked job request.user as is_liked %}
              {% if not is_liked%}
              <div class="col-6">
                <a href="{% url 'add_to_favorites' job.id %}" class="btn btn-block btn-light btn-md"><span class="icon-heart-o mr-2 text-danger"></span>Сохранить</a>
              </div>
              {% else %}
              <div class="col-6">
                <a href="{% url 'delete_in_favorites' job.id %}" class="btn btn-block btn-light btn-md"><span class="icon-heart mr-2 text-danger"></span>Сохранено</a>
              </div>
              {% endif %}
              {% is_already_applied job request.user as is_applied %}
              {% if not is_applied %}
              <div class="col-6">
                <button type="button" class="btn btn-block btn-primary btn-md btn-color" data-toggle="modal" data-target="#addApplicantModal">Откликнуться</button>
              </div>
              {% else %}
              <div class="col-6">
                <a href="#" class="btn btn-block btn-outline-secondary btn-md btn-color">Уже откликнулись</a>
              </div>
              {% endif %}
            </div>
            {% endif %}

          </div>
          <div class="col-lg-4">
            <div class="bg-light p-3 border rounded mb-4">
              <h3 class="mt-3 h5 pl-3 mb-3 " style="color: #DEB887;">Краткое описание</h3>
              <ul class="list-unstyled pl-3 mb-0">
                <li class="mb-2"><strong class="text-black">Опубликовано:</strong> {{job.dateCreated}}</li>
                {% if job.type %}
                <li class="mb-2"><strong class="text-black">Форма занятости:</strong>{{job.type}} </li>
                {% endif %}
                  {% if job.experience %}
                <li class="mb-2"><strong class="text-black">Опыт работы:</strong> {{job.experience}}</li>
                  {% endif %}
                {% if job.city%}
                <li class="mb-2"><strong class="text-black">Расположение:</strong>{{job.city}}</li>
                {% endif %}
                  {% if job.salary %}
                <li class="mb-2"><strong class="text-black">Зарплата:</strong>{{job.salary}}</li>
                  {% endif %}
                  {% if job.closingDate %}
                <li class="mb-2"><strong class="text-black">Крайний срок подачи заявок:</strong> {{job.closingDate}}</li>
                  {% endif %}
              </ul>
            </div>

          </div>
        </div>
      </div>
    </section>

<div class="modal fade" id="addApplicantModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="POST" action="{% url 'send-cover-letter' job.slug %}">
        {% csrf_token %}
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Отправить сопроводительное письмо</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-lg-12">
            <div class="form-group position-relative">
                <label>Сопроводительное письмо: </label>
                {{form.message}}
            </div>
            {% if form.message.errors %}
              {% for error in form.message.errors %}
                  <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                  </div>
              {% endfor %}
              {% endif %}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button type="submit" class="btn btn-primary">Отправить</button>
      </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}